[submodule "framework"]
        path = framework
        url = git@github.com:osxfuse/framework.git
[submodule "fuse"]
	path = fuse
	url = git@github.com:osxfuse/fuse.git
[submodule "kext"]
	path = kext
	url = git@github.com:osxfuse/kext.git
[submodule "macfuse_framework"]
        path = macfuse_framework
        url = git@github.com:osxfuse/framework.git
[submodule "macfuse_fuse"]
        path = macfuse_fuse
        url = git@github.com:osxfuse/fuse.git
[submodule "prefpane"]
	path = prefpane
	url = git@github.com:osxfuse/prefpane.git
[submodule "support"]
        path = support
        url = git@github.com:osxfuse/support.git
